@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 100% 97%;
    --foreground: 231 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 231 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 60% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 100% 97%;
    --secondary: 231 48% 90%;
    --secondary-foreground: 231 48% 20%;
    --muted: 231 20% 90%;
    --muted-foreground: 231 20% 40%;
    --accent: 182 100% 75%;
    --accent-foreground: 182 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 30% 88%;
    --input: 231 30% 88%;
    --ring: 231 48% 48%;
    --radius: 0.75rem;
    --chart-1: 231 48% 48%;
    --chart-2: 182 100% 75%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 231 40% 10%;
    --foreground: 231 100% 97%;
    --card: 231 40% 12%;
    --card-foreground: 231 100% 97%;
    --popover: 231 40% 12%;
    --popover-foreground: 231 100% 97%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 100% 97%;
    --secondary: 231 40% 20%;
    --secondary-foreground: 231 100% 97%;
    --muted: 231 40% 20%;
    --muted-foreground: 231 20% 70%;
    --accent: 182 100% 75%;
    --accent-foreground: 182 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 30% 25%;
    --input: 231 30% 25%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold;
  }
}
